@using Ekom.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Ekom.API;
@using Ekom.Utilities;
@{
    Layout = "Master.cshtml";

    var category = Catalog.Instance.GetCategory();

    var products = category.ProductsRecursive(new ProductQuery() {
        Filters = null
    });

    var culture = "en-US";

    var filters = products.Filters();
}

<h1>@category.Title</h1>

<h2>Products</h2>

<ul>
    @foreach (var prod in products)
    {
        <li>@prod.Title</li>
    }
</ul>

<h2>Filters</h2>

<form method="get" action="@Model.Url()">
    <ol>
        @foreach (var filter in filters)
        {

            <li>
                @filter.Field.Title.GetValue(culture)

                <ul>
                    @foreach (var val in filter.Values)
                    {
                        var query = Context.Request.Query["filter_" + filter.Field.Id];

                        var value = val.GetValue(culture);

                        <li>
                            <label>
                                <input type="checkbox" value="@value" name="filter_@filter.Field.Id" @(query.Contains(value) ? "checked" : "") /> @value
                            </label>

                        </li>
                    }
                </ul>
            </li>
        }
    </ol>
    <button type="submit">Filter</button>
</form>

