@using Ekom.Models
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Ekom.API;
@{
    Layout = "Master.cshtml";

    var category = Catalog.Instance.GetCategory();

    var products = category.ProductsRecursive;

    var productMetaFields = products.SelectMany(x => x.Metafields).Where(x => x.Field.Filterable).GroupBy(x => x.Field, new MetafieldComparer());
}

<h1>@category.Title</h1>

<h2>Products</h2>

<ul>
    @foreach (var prod in products)
    {
        <li>@prod.Title</li>
    }
</ul>

<h2>Filters</h2>

<form method="get" action="@Model.Url()">
    <ol>
        @foreach (var filterGroup in productMetaFields)
        {
            var values = filterGroup.SelectMany(x => x.Values);
            var field = filterGroup.Key;
            <li>
                @field.Title.GetValue("is-IS")

                <ul>
                    @foreach (var val in values.DistinctBy(x => x.GetValue("is-IS")))
                    {
                        var query = Context.Request.Query["filter_" + field.Id];

                        var value = val.GetValue("is-IS");

                        <li>
                            <label>
                                <input type="checkbox" value="@value" name="filter_@field.Id" @(query.Contains(value) ? "checked" : "") /> @value
                            </label>

                        </li>
                    }
                </ul>
            </li>
        }
    </ol>
    <button type="submit">Filter</button>
</form>

