@using Umbraco.Cms.Web.Common.PublishedModels;
@using Ekom.API;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    var categories = Catalog.Instance.GetAllCategories();
}

<h2>Total Categories (@categories.Count())</h2>


<ul>
    @foreach (var cat in categories)
    {
        <li>
            @cat.Title - @cat.Key

            <ul>
                @foreach (var prop in cat.Properties)
                {
                    <li>
                        @prop.Key: @prop.Value
                    </li>
                }
            </ul>
        </li>
    }
</ul>

