@using Umbraco.Cms.Web.Common.PublishedModels;
@using Ekom.API;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    var categories = Catalog.Instance.GetAllCategories();
    var store = Store.Instance.GetStore();
}

<h2>Total Categories (@categories.Count())</h2>
<h3>Culture: @Model.GetCultureFromDomains()</h3>
<h3>Store: @store.Alias</h3>

<div style="margin-left:40px; border-top:1px solid #ccc;">
    @foreach (var cat in categories)
    {
        <h4>Title: @cat.Title</h4>
        <p>Key: @cat.Key</p>
        <p>Id: @cat.Id</p>

        <h4>Category properties</h4>

        <ul>
            @foreach (var prop in cat.Properties)
            {
                <li>
                    @prop.Key: @prop.Value
                </li>
            }
        </ul>

        <h4>Products</h4>

        <ul>
            @foreach (var product in cat.ProductsRecursive)
            {
                <li>
                   @product.Title - @product.Id - @product.Url - @product.Price.WithVat.CurrencyString
                </li>
            }
        </ul>
    }
</div>
