@using Umbraco.Cms.Web.Common.PublishedModels;
@using Ekom.API;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    var categories = Catalog.Instance.GetAllCategories();
    var store = Store.Instance.GetStore();
    var allStores = Store.Instance.GetAllStores();
    var allProducts = Catalog.Instance.GetAllProducts();

    var o = Order.Instance.GetOrder();
}

<h2>Total Categories (@categories.Count())</h2>
<h2>Total Products (@allProducts.Count())</h2>
<h3>Culture: @Model.GetCultureFromDomains()</h3>
<h3>Store: @store.Alias</h3>

<div style="margin-left:40px; border-top:1px solid #ccc;">
    @foreach (var cat in categories)
    {
        <h4>
            <a href="@cat.Url">Title: @cat.Title</a>
        </h4>
        <p>Key: @cat.Key</p>
        <p>Id: @cat.Id</p>

        <h4>Category properties</h4>

        <ul>
            @foreach (var prop in cat.Properties)
            {
                <li>
                    @prop.Key: @prop.Value
                </li>
            }
        </ul>

        <h4>Products</h4>

        <ul>
            @foreach (var product in cat.ProductsRecursive)
            {
                <li>
                    <a href="@product.Url">

                        <p>Title: @product.Title</p>
                        <p>SKU: @product.SKU</p>
                        <p>Price: @product.Price.WithVat.CurrencyString</p>
                        <p>
                            Test: @product.GetValue("test", Model.GetCultureFromDomains())
                        </p>
                        <p>
                            Test2: @product.GetValue("test2")
                        </p>
                    </a>

                    <ul>
                        @foreach (var prop in product.Properties)
                        {
                            <li>
                                @prop.Key: @prop.Value
                            </li>
                        }
                    </ul>

                </li>
            }
        </ul>
    }
</div>

<div style="margin-left:40px; border-top:1px solid #ccc;">
    @foreach (var s in allStores)
    {
        <h4>
            <a href="@s.Url">
                Alias: @s.Title
            </a>
        </h4>
        <p>Key: @s.Key</p>
        <p>Id: @s.Id</p>
        <p>Root: @s.StoreRootNode</p>

        <h4>Store Domains</h4>

        @if (s.Domains != null)
        {
            <ul>
                @foreach (var prop in s.Domains)
                {
                    <li>
                        @prop.Key: @prop.DomainName
                    </li>
                }
            </ul>
        }


        <h4>All Domains</h4>

        <ul>
            @foreach (var prop in Store.Instance.GetDomains())
            {
                <li>
                    @prop.Key: @prop.DomainName - @prop.RootContentId
                </li>
            }
        </ul>
    }
</div>
